body {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    margin-top: 20%;
    padding: 10px 25px 10px 25px;
}

#sentence-form {
    margin-bottom: 25px;
}

#sentence-input {
    width: 20%;
    height: 25px;
}

#randomize-btn {
    width: 175px;
    padding: 6px;
}

h1 {text-align: center;}